.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.calc-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 300px;
    border: solid;
    border-radius:20px;
    border-width: 3px;
    padding: 16px;
}

.container {
    height: 100%;
    width: 100%;
    margin: 0;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    grid-template-areas:"clear bkspc div mult"
                        "seven eight nine minus"
                        "four five six plus"
                        "three two one equals"
                        "zero zero deci equals";
}

button {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    border: solid 3px;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    
}

div .bksp {
    font-size: 16px;
    font-weight: bold;
}

div .equals {
    height: 100%;
    grid-column-start: equals;
    grid-column-end: equals;
    grid-row-start: equals;
    grid-row-end: equals;
}

div .zero {
    width: 100%;
    grid-column-start: zero;
    grid-column-end: zero;    
    grid-row-start: zero;
    grid-row-end: zero;
}

#viewport {
    border: solid 3px;
    border-radius: 10px;
    height: 70px;
    width: 95%;
    padding: 0px 8px;
    margin-bottom: 16px;
    font-size: 48px;
    text-align: right;
}
